
<form action="/lists/<%= @list.id %>/add" method="POST">
  <p><label>Add an existing item to your list:</label></p>

  <% @user.items.all.each do |item| %>
    <p><input id="item_<%= item.id %>" type="checkbox" name="item[list_id][]" value="<%= item.list_id %>">  <%= item.name %></p>
    <% end %>

  <p><label>or enter a new item:</label></p>
  <p>Item Name:<input type="text" name="item[name]" id="new_item"></p>
  <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
  <input type="hidden" name="list_id" value="<%=@list.id%>">
  <br></br>
   <input type="submit" id='submit' value="Add to List">
</form>

    <p><a href="/users/home">Home</a></p>
