
<h1>Edit Your List</h1>

<form action='/lists/<%= @list.id %>/edit' method='post'>
  <input id='hidden' type='hidden' name='_method' value='patch'>

  <h4>Name: <input type='text' id='name' name='list[name]' value='<%= @list.name %>' required></h4>
  <h4>Privacy:
    <select name="list[privacy]" id="privacy">
    <option>Private</option>
    <option>Public</option>
  </select>

    <input type='submit' id='submit' value='Edit List'>
  </form>


<br></br>
  <h4>Select an Item to edit:<h4/>
  <% @list.items.each do |item| %>
  <p><name="list[items][]" value="<%= item.id %>"><a href='/items/<%= item.id %>/edit'><%= item.name %></a></p>
  <% end %>
  </form>
