
<h2><label class="hidden-print"><%= current_user.username %>'s List:</h2></label>
<h1><%= @list.name %></h1>
<h5><label class="hidden-print">Privacy Status: <i><%= @list.privacy %></i></h5></label>

<div class="list-group">
<ol>
    <p><h3><% @list.items.all.each do |item| %>

          <li><a href="/items/<%= item.id %>" class="list-group-item"><%= item.name %> </a></li>
          <% end %></h3></p>
        </ol>
            <br>
</div>

<div class="btn-group btn-group-justified hidden-print" role="group" aria-label="...">
  <div class="btn-group" role="group">
<a class="btn btn-default" href='/lists/<%= @list.id %>/add' role="button">Add Items</a>
  </div>
  <div class="btn-group" role="group">
<a class="btn btn-default" href='/lists/<%= @list.id %>/edit' role="button">Edit</a>
  </div>
  <div class="btn-group" role="group">
<a class="btn btn-default" onClick="window.print()" role="button">Print</a>
  </div>
  <div class="btn-group" role="group">
<form action="/lists/<%= @list.id %>/delete" method="post">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type='submit' class="btn btn-default" id="delete" name="delete" role="button"value='Delete'>
    </form>
  </div>
</div>
</div>
